language: bash

sudo: false

addons:
  apt:
    sources:
    - debian-sid
    packages:
    - shellcheck

script:
 - bash -c 'shopt -s globstar; shellcheck **/glsysbackup'

matrix:
  fast_finish: true
